body {
  font-family: 'helvetica neue', arial, sans-serif;
  font-weight: 400;
  color: white;
  background-image: url(blackmamba.png);
  background-repeat: repeat;
}

footer {
    padding-top: 200px;
}

a {
    color: #FFFFFF;
    text-decoration: underline;
}

.navbar-default .navbar-nav>li>a {
    color: #000000;
    text-decoration: none;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #ec1717;
    background-color: transparent;
}

.navbar-default .navbar-brand {
    color: #000000;
    text-decoration: none;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: #ec1717;
    background-color: transparent;
}

.jumbotron {
  background-image: url(blackmamba.png);
}

.btn-primary {
    color: black;
    background-color: white;
    border-color: white;
}

.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
  color: #fff;
  background-color: #ec1717;
  border-color: #000000;
}

.btn-primary:hover {
    color: #fff;
    background-color: #000000;
    border-color: #FFFFFF;
}

a:focus, a:hover {
    color: #fbe73b;
    text-decoration: underline;
}

#list-group {
  color: black;
  font-size: 15pt;
}
